<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/qa_app/src/main/resources/static/css/home.css">
    <title>履歴画面</title>
</head>

<body>
    <header th:replace="~{fragment :: header}"></header>
    <main>
        <h1>履歴</h1>
        <div class="cashflow-buttons">
            <button class="cashflow-button" id="thisMonth">今月</button>
            <button class="cashflow-button" id="lastMonth">先月</button>
        </div>


        <div class="cashflow-allExpenses">
            <h3>今月の使用額（支出のみ）</h3>
            <p class="cashflow-amount">￥<span th:text="${totalExpensesThisMonth}">15,000</span>JPY</p>
        </div>
        <div>
            <table>
                <tr class="cashflow-colNames">
                    <th>日付</th>
                    <th>カテゴリー</th>
                    <th>金額</th>
                </tr>
                <tr th:each="thisMonth : ${allThisMonth}">
                    <td th:text="${thisMonth.date}">6/10</td>
                    <td th:text="${thisMonth.category_name}">趣味・娯楽</td>
                    <td th:text="${thisMonth.daily_amount}"><span
                            th:class="${thisMonth.in_out} == TRUE ? 'cashflow-out' : 'cashflow-in'">-￥5,000</span></td>
                    <td>
                        <form th:action="@{/cashflow/{id}/delete(id=${daily.id})}" method="post">
                            <button type="submit" class="cashflow-delete"
                                onclick="return confirm('本当に削除しますか？');">×</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </main>


</body>

</html>