<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/home.css">
    <title>マネマネ</title>
</head>
<body>
    <header th:fragment="header" class="fragment-header">
        <nav class="fragment-title">マネマネ</nav>

        <nav class="fragment-link">
            <a href="/home" class="">ホーム</a>
            <a href="/cashflow" class="">履歴</a>
            <a href="/mypage" class="">マイページ</a>
        </nav>
    </header>
</body>
</html>