@media screen and (min-width:320px) {
    /*　画面サイズが320pxからはここを読み込む　*/
  body{
    margin: 20px;
  }
}
@media screen and (min-width:380px) and (max-width:451px) {
    /*　画面サイズが380pxから450pxまではここを読み込む　*/
  body{
    margin: 30px;
    max-width: 410px;
  }
}
@media screen and (min-width:1030px) {
    /*　画面サイズが1030pxからはここを読み込む　*/
  body{
    margin-inline: auto;
    margin-top: 30px;
    max-width: 410px;
  }
}

/* 共通ヘッダー　フラグメント */
.fragment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid lightblue;
}
.fragment-title {
    font-size: 20px;
    font-weight: 700;
    color: dimgray;
    margin-left: 12px;
    margin-bottom: 12px;
}
.fragment-link {
    display: flex;
    gap: 12px;
    font-size: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
}
.fragment-link a {
    text-decoration: none;
    color: black;
}

/* フラグメント　ここまで */


/* ホーム画面 ここから */
.home-container{
  margin: 10px;
}
.home-showamount-container{
  padding: 15px 25px;
  border-radius: 20px;
  background-color: rgb(54, 56, 80);
}
#home-show-title{
  font-size: 12px;
  font-weight: bold;
  color: rgb(243, 243, 243);
}
#home-show-amount{
  font-size: 26px;
  font-weight: bold;
  color: rgb(250, 250, 250);
}