body {
    font-family: sans-serif;
    background-color: #ffffff;
    max-width: 1320px;
    max-width: 2868px;
}

.login-container {
    width: 320px;
    margin: 100px auto;
    border: 1px solid #cccccc;
    padding: 20px;
}

.login-logo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.form-box {
    border: 1px solid #cccccc;
    border-radius: 20px;
    padding: 20px;
}

.login-form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #64ceff;
    cursor: pointer;
}

.login-error-message {
    color: red;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    text-decoration: none;
    color: #64ceff;
}