body {
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
    background-color: #f4f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    max-width: 1320px;
    max-width: 2868px;
}

.login-container {
    background-color: #ffffff;
    border: 1px solid #333333;
    width: 380px;
    padding: 40px 20px;
    box-sizing: border-box;
    text-align: center;
}

.login-logo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.form-box {
    border: 1px solid #cccccc;
    border-radius: 20px;
    padding: 20px;
}

.login-form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #64ceff;
    cursor: pointer;
    
}

.login-btn:hover {
    background-color: #64ceff;
}

.login-error-message {
    color: red;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    text-decoration: none;
    color: #64ceff;
}

.register-container {
    background-color: #ffffff;
    border: 1px solid #333333;
    width: 380px;
    padding: 40px 20px;
    box-sizing: border-box;
    text-align: center;
}

.register-logo {
    font-size: 24px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 20px;
}

.register-card {
    border: 1px solid #cccccc;
    border-radius: 24px;
    padding: 30px 20px;
    background-color: #ffffff;
}

.form-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
}

/* 入力項目のグループ */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

/* ラベル（メールアドレス / パスワード） */
.input-group label {
    display: block;
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
}

/* 入力フォーム本体 */
.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    color: #333333;
}

/* 非表示*/
.hidden-fields {
    display: none;
}

.register-btn {
    width: 100%;
    background-color: #72d595;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: background-color 0.2s;
}

.register-btn:hover {
    background-color: #5fc283;
}

/* 画面下部のリンク*/
.register-link {
    display: inline-block;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

/* エラーメッセージ */
.register-error-message {
    color: #ff4d4f;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: left;
}